<section class="jumbotron" style="background-image: url('https://turismo.buenosaires.gob.ar/sites/turismo/files/field/image/milonytan980.jpg'); background-position: center; background-size: cover;">
    <div class="jumbotron_bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb pull-left">
                        <li><a href="">hiTango</a></li>
                        <li class="active"><span>hiTango manager</span></li>
                    </ol>
                    <ul class="list-inline pull-right">
                        <li>
                            <div class="dropdown">
                                <ul class="list-inline pull-right">
                                    <li>
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle" id="jumbo-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Institucional
                                            <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="jumbo-menu">
                                            <li><a href="#">Acción</a></li>
                                            <li><a href="#">Acción secundaria</a></li>
                                            <li><a href="#">Misiones y funciones</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle" id="jumbo-menu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Institucional2
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="jumbo-menu2">
                                                <li><a href="#">Acción</a></li>
                                                <li><a href="#">Acción secundaria</a></li>
                                                <li><a href="#">Misiones y funcioness</a></li>
                                                <li><a href="#">Acción</a></li>
                                                <li><a href="#">Acción secundaria</a></li>
                                                <li><a href="#">Misiones y funcioness</a></li>
                                            </ul>
                                        </div>
                                    </li>
                        
                                    <li>
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle" id="jumbo-menu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Institucional3
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="jumbo-menu3">
                                                <li><a href="#">Acción</a></li>
                                                <li><a href="#">Acción secundaria</a></li>
                                                <li><a href="#">Misiones y funcioness</a></li>
                                                <li><a href="#">Acción</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron_body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <h1>hiTango World</h1>
                <p>Sit amet consectetur adipisicing elit. Eligendi quam, esse quod blanditiis corporis fugiat exercitationem inventore quibusdam obcaecati. Perspiciatis reiciendis possimus magnam assumenda expedita quod ipsum quis omnis mollitia.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<section class="bg-gray section-sm">
    <div class="">
        <div class="panel-pane pane-atajos">
        <div class="pane-content">
            <ul id="dash" class="nav nav-icons nav-icons-selected">
                <li class="active">
                    <a href="/aaip/accesoalainformacion">
                        <i class="fa fa-shopping-basket"></i>
                        <span>Order Manager</span>
                    </a>
                </li>
                <li class="">
                    <a href="/aaip/datospersonales">
                        <i class="fa fa-table"></i>
                        <span>Tables</span>
                    </a>
                </li>
                <li class="">
                    <a href="/aaip/tramites">
                        <i class="fa fa-users"></i>
                        <span>CRM Users</span>
                    </a>
                </li>
                <li class="">
                    <a href="/aaip/buscador-normativa">
                        <i class="fa fa-legal"></i>
                        <span>Dashboards</span>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Principios para una gestión moderna</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="icon-item">
                            <i class="fa fa-users"></i>
                            <p class="h3_title">Cercana</p>
                            <p>Conoce tus necesidades y adopta sus servicios a ellas.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="icon-item">
                            <i class="fa fa-search"></i>
                            <p class="h3_title">Transparente
                            </p><p>Brinda mayor información y certeza sobre sus actos de gobierno.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="icon-item">
                            <i class="fa fa-users"></i>
                            <p class="h3_title">Participativa</p>
                            <p>Trabaja en equipo con los empleados públicos y la gente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>