<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h1>Register Form</h1>           
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <input type="hidden" formControlName="_id" />

                    <div class="form-row row">
                        <div class="form-group col-xs-6">
                            <label>First Name</label>
                            <input type="text" formControlName="firstName" class="form-control" pattern="[a-zA-Z ]*" 
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />

                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                <div *ngIf="f.firstName.errors.pattern">Take care of the characters</div>
                                <div *ngIf="f.firstName.errors.minlength">Take care of the lenght</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control" pattern="[a-zA-Z ]*" 
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />

                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                <div *ngIf="f.lastName.errors.pattern">Take care of the characters</div>
                                <div *ngIf="f.lastName.errors.minlength">Take care of the lenght</div>                                
                            </div>
                        </div>
                    </div>

                    <div class="form-row row">
                        <div class="form-group col-sm-12">
                            <label>Email</label>
                            <input type="text" formControlName="email" autocomplete="off" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>                        
                    </div>
                    <div class="form-row row">
                        <div class="form-group col-xs-6">
                            <label>Password</label>
                            <input type="password" formControlName="password" autocomplete="off" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <label>Confirm Password</label>
                            <input type="password" formControlName="confirmPassword" autocomplete="off" class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />

                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row row">
                        <div class="col-md-12">
                            <button class="btn btn-primary mr-1">Save User</button>
                            <button class="btn btn-secondary m-l-1" type="reset" (click)="onReset()">Reset</button>
                        </div>
                    </div>
                </form>   
                
                <!--
                <br>
                <h5><u>Errores del campo nombre</u></h5>
                <pre>{{f.controls.nombre.errors | json}}</pre>
                <h5><u>Datos del formulario reactivo</u></h5>
                <pre>{{f.value | json}}</pre>
                -->

            </div>
        </div>

    </div>

</section>