<!--
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Commander</a></li>
        <li class="active">My Order</li>
    </ol>
</div>
-->

<section class="bg-gray section-sm">
    <div class="container">
        <div class="row m-t-1">
            <div class="col-sm-10 col-sm-offset-1">
                <form [formGroup]="myFilterForm">
                    <div class="form-group">
                        <div class="btn-group" role="group" style="width: 100%;">
                            <button type="button" class="btn btn-danger" (click)="setFilter('Open')" style="width: 50%;">Open</button>
                            <button type="button" class="btn btn-success" (click)="setFilter('Free')" style="width: 50%;">Free</button>
                        </div>        
                    </div>
                </form>
            </div>
        </div>    

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <ul class="nav nav-icons nav-icons-selected">
                    <li class="active col-xs-2" *ngFor="let table of tableService.tables">
                        <!--
                        <button class="btn" [ngClass]="(table.tableStatus == 'Open')?'bg-danger':'bg-success'" (click)="selectTable(table);" style="width: 100%; color:white;">
                            <span [ngClass]="(table.tableStatus == 'Open')?'bg-danger':'bg-success'">{{table.tableNumber}}</span>
                        </button>
                        -->
                        <button class="btn" [ngClass]="{
                            'bg-maiz': tableSelected == table,
                            'bg-danger': table.tableStatus == 'Open',
                            'bg-success': table.tableStatus == 'Free'
                            }" (click)="selectTable(table);" style="width: 100%; color:white;">
                            <span [ngClass]="{
                                'bg-maiz': tableSelected == table,
                                'bg-danger': table.tableStatus == 'Open',
                                'bg-success': table.tableStatus == 'Free'}">{{table.tableNumber}}</span>
                        </button>
                        <!--  -->
                    </li>
                </ul>
            </div>
            <ng-template #noRecord>
                <div class="alert alert-warning">
                    <p>There are not records</p>
                </div>
            </ng-template>          
        </div>
    </div>
</section>

<app-orders [tableSel]="tableSelected"></app-orders>