<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3">
			  <h3 class="m-t-0">hiTango</h3>
			</div>
			<div class="col-md-3 col-sm-3">
			  <ul>
				<li><a routerLink="/myorder" routerLinkActive="active">My Order</a></li>
				<li><a routerLink="/users" routerLinkActive="active">Users</a></li>
				<li><a routerLink="/products" routerLinkActive="active">Products</a></li>
				<li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
			  </ul>
			</div>
			<div class="col-md-3 col-sm-3">
				<ul>
					<li><a routerLink="/events/Milonga" routerLinkActive="active">{{ 'NAVBAR.EVENTTYPE.MILONGA' | translate }}</a></li>
					<li><a routerLink="/events/Event" routerLinkActive="active">{{ 'NAVBAR.EVENTTYPE.EVENT' | translate }}</a></li>
					<li><a routerLink="/events/Fest" routerLinkActive="active">{{ 'NAVBAR.EVENTTYPE.FEST' | translate }}</a></li>
					<li><a routerLink="/events/Class" routerLinkActive="active">{{ 'NAVBAR.EVENTTYPE.CLASS' | translate }}</a></li>
					<li><a routerLink="/events/MasterClass" routerLinkActive="active">{{ 'NAVBAR.EVENTTYPE.MASTERCLASS' | translate }}</a></li>
				</ul>
			  </div>			
			<div class="col-md-3 col-sm-3">
				<ul>
					<li><a routerLink="/profiles/master" routerLinkActive="active">{{ 'NAVBAR.PROFILETYPE.MASTER' | translate }}</a></li>
					<li><a routerLink="/profiles/orchestra" routerLinkActive="active">{{ 'NAVBAR.PROFILETYPE.ORCHESTRA' | translate }}</a></li>
					<li><a routerLink="/profiles/artist" routerLinkActive="active">{{ 'NAVBAR.PROFILETYPE.ARTIST' | translate }}</a></li>
					<li><a routerLink="/profiles/musician" routerLinkActive="active">{{ 'NAVBAR.PROFILETYPE.MUSICIAN' | translate }}</a></li>
					<li><a routerLink="/profiles/dj" routerLinkActive="active">{{ 'NAVBAR.PROFILETYPE.DJ' | translate }}</a></li>
					<li><a routerLink="/profiles/school" routerLinkActive="active">{{ 'NAVBAR.PROFILETYPE.SCHOOL' | translate }}</a></li>
					<li><a routerLink="/profiles/danceroom" routerLinkActive="active">{{ 'NAVBAR.PROFILETYPE.ROOM' | translate }}</a></li>				  
				</ul>
			</div>
		</div>
		<hr>		
		<div class="row">
			
            <div class="col-md-12 col-xs-12">
				<p class="text-right">
					<a routerLink="/">Terms of Use</a> | 
					<a routerLink="/">Privacy Policy</a> | 
					<a routerLink="/contact" routerLinkActive="active">Contact Us</a>
				</p>
            </div>
        </div>  		
	</div>
</footer>